@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-fluid3{
    min-width: 70%;
    width: auto;
    max-width: 90%;
    height: 65vh;
    display: flex;
    justify-content: center;
    overflow-inline:hidden;
    margin: auto;
}


.componentes{
    width: 95%;
    margin: auto;
    height: min-content;
    
}


.componente1{ /* CONFIG DAS DIVS ANTES DE SER EXPANDIDA */
    width: 22vw;
    height: 65vh;
    background-color: #00DCAA;
    transition: all 0.5s ease;
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    margin: 10px;
    margin-top: 20px;
    z-index: 1;
}

.expandido{ /*CONFIG DAS DIVS AO SER EXPANDIDA*/
    width: 60vw;
    transition: width 0.5s ease;
    font-family: 'Montserrat', sans-serif;
}
.expandido h1{
    transition: width 0.5s ease;
    top: 15%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.componente1 p{
    color: white;
    font-weight: bold;
}
.componente1 h1, h5{
    font-weight: bolder;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.componente1:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    transform:scale(1.07);
    margin: 22px;
    transition: transform 0.5 ease;
}

.indicador { /* INDICADORES DE BOLINHA */
    margin-right: 10px;
    margin-top: 20px;
    padding: auto;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius:10px;
    cursor: pointer;
}
.indicador.active{
    background-color: blueviolet;
}
#textoCarousel{ /* TEXTO QUANDO DIV FOR EXPANDIDA */
    width: 90%;
    margin: auto;
    text-align: center;
    top:19%;
    position: relative;
    text-shadow: 2px -2px 30px #000;  
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
#TituloPadrao{ /* TITULO ANTES DA DIV SER EXPANDIDA  */
     margin-top: 80px;
     font-family: 'Montserrat', sans-serif;
}
#TextoPadrao{ /* TEXTO ANTES DA DIV SER EXPANDIDA  */
     margin-top: 10px;
     font-family: 'Montserrat', sans-serif;
}

#link{ /* BOTÃO DA DIV EXPANDIDA  */
    width: 210px;
    height: 38px;
    border-radius: 20px;
    background-color: blueviolet;
    border: 0px;
    color: white;
    font-weight: bolder;
    position: relative;
    top: 20%;
    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000;
                  font-family: 'Montserrat', sans-serif;

}

.fade3-enter { 
    opacity: 0;
  }
  
  .fade3-enter-active {
    opacity: 1;
    transition: opacity 3s ease-in-out;
  }
  
  .fade3-exit {
    opacity: 1;
  }
  
  .fade3-exit-active {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

@media screen and   (max-width:1600px)  { /* TELA MENORES DE NOTEBOOKS */

    .container-fluid3{
        min-width: 70%;
        width: auto;
        max-width: 90%;
        height: 85vh;
        display: flex;
        justify-content: center;
        overflow-inline:hidden;
    
    }
    
    
    .componentes{
        width: 90%;
        margin: auto;
        height: min-content;
    }
    
    
    .componente1{ /* CONFIG DAS DIVS ANTES DE SER EXPANDIDA */
        width: 25vw;
        height: 85vh;
        background-color: #00DCAA;
        transition: all 0.5s ease;
        display: inline-block;
        margin-left: 15px;
        vertical-align: top;
        margin: 10px;
        margin-top: 20px;
        z-index: 1;
    }
    
    .expandido{ /*CONFIG DAS DIVS AO SER EXPANDIDA*/
        width: 60vw;
        transition: width 0.5s ease;
    }
    .expandido h1{
        transition: width 0.5s ease;
        top: 20%;
        position: relative;
    }
    
    .componente1 p{
        color: white;
        font-weight: bold;
    }
    .componente1 h1, h5{
        font-weight: bolder;
        color: white;
        margin-top: -80px;
    }
    
    .componente1:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        transform:scale(1.07);
        margin: 22px;
        transition: transform 0.5 ease;
    }
    
    .indicador { /* INDICADORES DE BOLINHA */
        margin-right: 10px;
        margin-top: 30px;
        padding: auto;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius:10px;
        cursor: pointer;
    }
    .indicador.active{
        background-color: blueviolet;
    }

    #textoCarousel{ /* TEXTO QUANDO DIV FOR EXPANDIDA */
        width: 90%;
        margin: auto;
        text-align: center;
        top:20%;
        position: relative;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px -1px 50px #000;  
    
    }
    #TituloPadrao{ /* TITULO ANTES DA DIV SER EXPANDIDA  */
         margin-top: 80px;
         font-family: 'Montserrat', sans-serif;

    }
    #TextoPadrao{ /* TEXTO ANTES DA DIV SER EXPANDIDA  */
         margin-top: 10px;
         font-family: 'Montserrat', sans-serif;

    }
    
    #link{ /* BOTÃO DA DIV EXPANDIDA  */
        width: 207px;
        height: 38px;
        border-radius: 20px;
        background-color: blueviolet;
        border: 0px;
        color: white;
        font-weight: bolder;
        position: relative;
        top: 20%;
        font-family: 'Montserrat', sans-serif;

    }
    
    .fade3-enter { 
        opacity: 0;
      }
      
      .fade3-enter-active {
        opacity: 1;
        transition: opacity 3s ease-in-out;
      }
      
      .fade3-exit {
        opacity: 1;
      }
      
      .fade3-exit-active {
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }
    
}