header{
    z-index: 2;
    position: relative;
}

.nav-item{
    font-size: large;
}
.nav-item .nav-link{
    color: #0071BB;
    font-weight: bold;
}
.fundo:hover{
.nav-link{ color: #00DCAA;}
font-weight: bolder;
background-color:#48308C;
}
.active{
    font-weight: bold;
    background-color: #48308C;
}
.fundo.active .nav-item .nav-link{
    color: white;
}
.fundo{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 90px;
    width:10vw;
    margin-top: -1.3vh;
    margin-right: -0.8vw;
    margin-left: 10px;
    margin-bottom: -1vh;
}