.nav-item{
    font-size: large;
}
.nav-item .nav-link{
    color: #0071BB;
}
.nav-item .nav-link:hover{
color: #00DCAA;
font-weight: bolder;
background-color:#48308C;
}
.nav-item .active{
    font-weight: bold;
    background-color: #48308C;
}
.navbar-nav .nav-item .nav-link.active{
    color: white;
}